/server/node_modules/
/server/public/log/
/server/public/html/
/mobile/node_modules/
/mobile/cordova/rtdmma/node_modules/
mobile/cordova/rtdmma/config/bower_components/
mobile/cordova/rtdmma/www/
mobile/cordova/rtdmma/src/lib/
