<div class="container-fluid text-center" ng-controller="LoginCtrl">
	<img src="../img/panvel-logo-bg-blue-480.jpg" ng-click="fakeScan()">
	<h1>Entregadores</h1>
	<p class="h3">Para iniciar o turno, clique no botão abaixo e enquadre o código fornecido pelo <nobr>Chefe de Expedição</nobr></p>
	<div class="btn-group-anchor-bottom">
		<button ng-click="scan()" class="btn btn-block btn-lg btn-default" style="font-size: 2em;" ng-disabled="scanning">
			<i class="fa fa-qrcode fa-2x"></i><br>INICIAR
		</button>
		<button ng-click="exit()" class="btn btn-block btn-lg btn-info">
			<i class="fa fa-power-off"></i> Sair
		</button>
	</div>
</div>
