<div class="content-fluid" ng-controller="TaskCtrl">
    <div class="content-fluid">
        <p class="task">
        Descrição: {{task.description}}
        </p>
        <p class="task">
        Endereço: {{task.address}}
        </p>
        <div>
            <button back-button class="task.button btn btn-default" ng-show="!showFinishAndCancelButtons">&lt; Voltar</button>
            <button ng-click="startTask()" class="task.button btn btn-primary" ng-show="!showFinishAndCancelButtons">Iniciar</button>
            <button ng-click="cancelTask()" class="task.button btn btn-danger" ng-show="showFinishAndCancelButtons">Cancelar</button>
            <button ng-click="finishTask()" class="task.button btn btn-success" ng-show="showFinishAndCancelButtons">Finalizar</button>
        </div>
    </div>
</div>