<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tlantic.rtdmma" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tlantic Real Time Deliver Manager</name>
    <description>
        Tlantic Real Time Deliver Manager Mobile Application
    </description>
    <author email="tlantic@tlantic.com.br" href="http://www.tlantic.com.br">
        Tlantic RTDM Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<!-- Android -->
	<preference name="KeepRunning" value="true"/>
	<preference name="SplashScreenDelay" value="3000"/>
</widget>
